html {
    background-color: #8ACE00;
}

html,body {
    font-family: Arial;
}

.imsojulia {
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 .5rem black;
}

.bratkeys {
    display: flex; /* to make it horizontal */
    align-items: center; /*to center the div. It needs min-heigh to make it center*/
    min-height: 70vh; /*to make the bottom height down*/
    justify-content: center; /* to make the div center */
}

.bratkey {
    text-align: center;
    border: .3rem solid;
    border-radius: 50%;
    height: 75px; /* To make the height bottom down */
    width: 75px; /* To make the width both side move */
    margin: 2rem; /*Outside the size*/
    padding: 1rem; /*Inside the size*/
    transition: all .07s;
}

kbd {
    display: block; /*to make evey kbd go down */
    font-size: 4rem;
    margin-bottom: 2rem;
}

.bratplaying {
    transform: scale(1.1);
    border-color: #64e664e7;
    box-shadow: 0 0 10px #87ec9d;
}

.bratsound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}